@import "tailwindcss";

div#app {
  width: min(80%, 1000px);
  height: 100%;
  margin: auto;
  padding: 24px;
}

body {
  background: linear-gradient(
    135deg,
    rgb(100, 0, 200) 0%,
    rgb(20, 0, 40) 30%,
    rgb(20, 0, 40) 50%,
    rgb(20, 0, 40) 70%,
    rgb(100, 0, 200) 100%
  );
}
